<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="content">
  <div class="block">
    <h1>Cars List</h1>
    <a href="addCar">Add Car</a>
    <br/><br/>
  </div>
  <div class="block">
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Color</th>
        <th>Picture</th>
      </tr>
      <tr th:each ="car : ${cars}">
        <td><a th:href="@{/oneCar(id=${car.id})}"><p th:utext="${car.id}">...</p></a></td>
        <td th:utext="${car.brand}">...</td>
        <td th:utext="${car.type}">...</td>
        <td th:utext="${car.color}">...</td>
        <td><img width="200" th:src="${car.picture}"/></td>
      </tr>
    </table>
  </div>
  <div id="goback">
    <a th:href="@{/}">Go Back Home</a>
  </div>
</div>

</body>
</html>