<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Liste des modèles de voitures</title>
</head>
<body>
<div id="content">
    <div class="block">
        <h1>Liste des modèles de voitures</h1>
    </div>
    <div class="block">
        <table border="1">
            <tr th:each ="car : ${cars}">
                <td th:utext="${car.type}">...</td>
            </tr>
        </table>
    </div>
    <div id="goback">
        <a th:href="@{/}">Go Back Home</a>
    </div>
</div>

</body>
</html>